.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.header-ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 30px;
}

.header-link {
  text-decoration: none;
}
